@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    background-color: #22254b;
    
}

.movie{
    margin: 1.5rem;
    /* height: 500px; */
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
   
}

.movie img {
    max-width: 100%;
    /* height: 400px; */
    object-fit: cover; 
    /* margin: 0; */
}

.movie-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eee ;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 1px;
    background-color: #373b69;

}
.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;

} 

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movie-info span.green {
    color: green;
    font-weight: 800;
}
.movie-info span.orange {
    color: orange;
}
.movie-info span.red     {
    color: red;
}
header {
    background-color: #373b69;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
}
.search {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    color: black;
}
.search::placeholder{
    color: #7378c5;
}

.search:focus {
    background-color: #fff; /*when click the search box , focus changes the box color */
    outline: none;
}
.overview{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0   ;    
    right: 0;
}

